.home {
   // display: grid;
   top: auto;
   gap: 10rem;
   margin-bottom: 4rem;

   &__title {
      margin: 2rem 0 1.5rem 0;
      text-align: center;
      color: var(--primary-color);
   }
   &__title::after {
      height: 0.2rem;
      width: 13rem;
      background-color: var(--secondary-color);
      content: '';
      display: block;
      border-radius: 3px;
      margin: 0.5rem auto 0 auto;
   }
}

@media (min-width: 768px) {
   .home {
      margin-bottom: 4.3rem;

      &__title {
         margin: 3.5rem 0 2.2rem 0;
         font-size: 1.85rem;
         font-weight: 600;
      }

      &__title::after {
         width: 15rem;
      }
   }
}
