.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--primary-color); //transparent
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo, &__toggle {
        color: var(--white);
    }
    &__logo {
        display: flex;
        font-weight: var(--font-semi-bold);
    }
    &__logo_title{
        margin-left: .5rem;
    }
    &__toggle {
        font-size: 1.2rem;
        cursor: pointer;
    }
    &__menu {
        position: relative;
    }
    img {
      width: 1rem; 
      height: 1.5rem; 
    }

    @media ( max-width: 767px ){
        &__menu {
            position: fixed;
            background-color: var(--white);
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
            padding: 3rem;
            transition: .4s;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    &__link {
        color: var(--text-color);
        font-weight: var(--font-semi-bold);
        text-transform: uppercase;
    }
    &__link:hover {
        color: lighten($color: black, $amount: 50);
    }
    &__close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        // color: ;
        cursor: pointer;
    }

}

.show_menu {
    right: 0;
}